/* CSS Global  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgba(236, 153, 243, 0.925);
  color: black;
  padding: 0;
}

.container {
  max-width: 1200px;
  background-color: rgb(243, 55, 55);
  margin: 0 auto;
}

/* Card base */
.card {
  background-color: white;
  border-radius: 12px;
  padding: 15px 35px;
  box-shadow: 0 4px 12px rgb(255, 255, 255);
  border-top: 4px solid;
  margin-bottom: 30px;
}

/* Different module colors */
.card.module-2 {
}

pre {
}

.note {
}

.note::before {
}

code {
  background-color: rgb(94, 93, 93);
  border-radius: 4px;
  padding: 2px 4px;
}

.badge {
}

/* Images (global safe defaults) */
img {
}

/* CSS For Group 1: Header  */
header {
  background-color: white;
  box-shadow: 5px 5px 5px black;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}
h1 {
  color: rgb(192, 36, 49);
}

.list-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  justify-content: center;
} /* CSS For Group 2: Card 1: Basics  */

.list-menu li {
  background-color: rgb(12, 238, 238);
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.list-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* CSS For Group 3: Card 2: Resize & aspect  */
.list-menu li:hover {
  background-color: rgb(184, 29, 245);
} /* CSS For Group 3: Card 2: Resize & aspect  */

.img_small {
  display: block;
  width: 10%;
}
/* CSS For Group 4: Card 3: Object fit  */

/* CSS For Group 5: Card 4: Image as Link  */

/* CSS For Group 6: Card 5: Gallery  */

/* CSS For Group 7: Card 6: Responsive  */

/* CSS For Group 8: Card 7: Figure & Caption + Task  */

/* CSS For Group 9: Card 8: Local file tips  */

/* CSS For Group 10: Back to Tutorial */