* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210803/pngtree-blur-green-glitter-abstract-background-image_756591.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: #6f944d;
    color: #ffffff;
    text-align: center;
    padding: 30px 15px;
}

header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
}


.list-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.list-menu li a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #c7f592, #ffeb7a);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.25),
        0 4px 6px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.list-menu li a:hover {
    background: #faeaa5;
    transform: translateY(-3px);
}


main {
    max-width: 900px;
    margin: 25px auto;
    padding: 0 15px;
}


.card {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    scroll-margin-top: 100px;
}


.card h2 {
    color: #222222;
    margin-bottom: 15px;
}


.student-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.student-info img {
    width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.info-text p {
    font-size: 14px;
    margin-bottom: 5px;
}

.gradeheader {
    background: #82b664;
    color: #fff;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border-radius: 4px;
}

.graderow {
    display: grid;
    grid-template-columns: 1.2fr 3fr 1fr 1fr 1fr;
    padding: 6px 8px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
}

.grade-row p {
    text-align: center;
}

.grade-row .text-left {
    text-align: left;
}


.gradetitle {
    background: #e8ebff;
    font-weight: bold;
}


.contact p {
    font-size: 14px;
    margin-bottom: 6px;
}


footer {
    background: #e0e0e0;
    text-align: center;
    padding: 12px;
    font-size: 13px;
    color: #333;
    margin-top: 30px;
}

-- ตารางเกรดรวม -- .gpa-summary {
    margin-top: 20px;
}

.summary-table {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.summary-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.summary-row p {
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

.summary-head {
    background: #a4d67b;
    color: #fff;
    font-weight: bold;
}

.summary-row:last-child {
    border-bottom: none;
}


.Palmmi {
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(155, 194, 111);
    display: inline-block;
    text-align: center;
    padding: 10px 24px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.Palmmi:hover {
    color: #000000;
    text-decoration: none;
    background-color: rgb(255, 227, 190);
    text-align: center;
}